{%extends 'base.html' %}

{% load crispy_forms_tags %}

{%block title %} Editar Perfil - UniPag {% endblock %}

{%block content %}

<div class="offset-1 col-10 list-div pt-3">
    <h1>Editar Perfil</h1>
</div>


<div class="col-md-10 offset-md-1 pt-3">
      <div class="card auth-card">
        <div class="card-body">

          <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" class="btn btn-primary my-4 shadow" value="Salvar">
              <input type="button" value="Cancelar" class="btn btn-danger shadow" onClick="history.go(-1)">
          </form>
        </div>
      </div>
</div>

{% endblock %}