{%extends 'base.html' %}

{%block title %} Home - UniPag {% endblock %}

{%block content %}

<div id="main" class="container-fluid">
 <h3 class="page-header">Visualizar Pedido: ID #{{pedido.id_pedido}}</h3>

	<div class="row">
		<div class="col-md-4">
			<p><strong>Código Interno do Produto</strong></p>
			<p>{{produto.codigo_interno}}</p>
		</div>
		<div class="col-md-4">
			<p><strong>Nome do Produto</strong></p>
			<p>{{produto.nome}}</p>
		</div>
		<div class="col-md-4">
			<p><strong>Valor do Produto</strong></p>
			<p>R$ {{produto.valor}}</p>
		</div>
		<div class="col-md-4">
			<p><strong>Categoria</strong></p>
			<p>{{produto.categoria}}</p>
		</div>
        <div class="col-md-4">
			<p><strong>Quantidade</strong></p>
			<p>{{produto.quantidade}}</p>
		</div>

        <div class="col-md-4">
			<p><strong>Data da Compra</strong></p>
			<p>{{pedido.data_pedido}}</p>
		</div>
        <div class="col-md-4">
			<p><strong>Valor da Compra</strong></p>
			<p>R$ {{pedido.valor}}</p>
		</div>
        <div class="col-md-4">
			<p><strong>Parcela</strong></p>
			<p>{{pedido.parcela}}x</p>
		</div>
        <div class="col-md-4">
			<p><strong>Forma de Pagamento</strong></p>
			<p>{{pedido.forma_pagamento}}</p>
		</div>
        <div class="col-md-4">
			<p><strong>Status da Compra</strong></p>
			<p>{{pedido.status_pedido}}</p>
		</div>
	</div>

	<hr />

	<div id="actions" class="row">
		<div class="col-md-12">
			<input type="button" value="Voltar" class="btn btn-primary" onClick="history.go(-1)">
		</div>
	</div>
</div>

{% endblock %}