{%extends 'base.html' %}

{% load crispy_forms_tags %}

{%block title %} Meu perfil - UniPag {% endblock %}

{%block content %}

<div class="col-md-10 offset-md-1 pt-2">
        <div class="card-body">
        <h1>Meu Perfil</h1>


          <form method="post">
              {% csrf_token %}

              <table class="table my-5">


                <tbody>

                  <tr>
                    <th scope="row">Razão Social</th>
                    <td></td><td></td>
                    <td>{{ razao_social }}</td>
                  </tr>

                  <tr>
                    <th scope="row">CNPJ</th>
                    <td></td><td></td>
                    <td>{{ cnpj }}</td>
                  </tr>

                  <tr>
                    <th scope="row">E-mail</th>
                    <td></td><td></td>
                    <td>{{ email }}</td>
                  </tr>

                  <tr>
                    <th scope="row">Número do celular</th>
                    <td></td><td></td>
                    <td>{{ telefone }}</td>
                  </tr>

                  <tr>
                    <th scope="row">Número</th>
                    <td></td><td></td>
                    <td>{{ numero }}</td>
                  </tr>

                  <tr>
                    <th scope="row">Bairro</th>
                    <td></td><td></td>
                    <td>{{ bairro }}</td>
                  </tr>

                  <tr>
                    <th scope="row">CEP</th>
                    <td></td><td></td>
                    <td>{{ cep }}</td>
                  </tr>

                  <tr>
                    <th scope="row">Cidade</th>
                    <td></td><td></td>
                    <td>{{ cidade }}</td>
                  </tr>

                  <tr>
                    <th scope="row">Estado</th>
                    <td></td><td></td>
                    <td>{{ uf }}</td>
                  </tr>

                  <tr>
                    <th scope="row">Complemento</th>
                    <td></td><td></td>
                    <td>{{ complemento }}</td>
                  </tr>

                </tbody>

              </table>

              <p><a class="btn btn-success btn-lg my-4 shadow" href="/editarCliente/" role="button">Editar Perfil &raquo;</a></p>

          </form>
        </div>
</div>

{% endblock %}