{%extends 'base.html' %}
{% load bootstrap %}

{%block title %} Relatório - UniPag {% endblock %}

{%block content %}

<div id="main" class="container-fluid">
    <div id="top" class="row">

    <div class="offset-1">
        <h2>Relatório de Vendas</h2>
    </div>

    <div class="container dashboard">
        <div class="col-lg-3 dashboard-box" id="dashboard-lastdays">
            <h4>Vendas feitas nos últimos 30 dias</h4>
            <span>{{ recentes }}</span>
        </div>
        <div class="col-lg-3 dashboard-box" id="dashboard-done">
            <h4>Vendas concluídas</h4>
            <span>{{ concluida }}</span>
        </div>
        <div class="col-lg-3 dashboard-box" id="dashboard-doing">
            <h4>Vendas em andamento</h4>
            <span>{{ andamento }}</span>
        </div>
    </div>

    </div>

</div>

{% endblock %}